html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 1020px;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    display: block;
    margin: 8px;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0.67em 0;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.user-profile-sticky-bar {
    position: fixed;
    top: 0;
    z-index: 90;
    width: 233px;
    word-break: break-all;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
}
.pr-3 {
  padding-right: 16px !important;
}

.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.border-gray-light {
    border-color: #eaecef !important;
}
.border-top {
    border-top: 1px #e1e4e8 solid !important;
}
.float-left{
  float: left !important;
}
.col-3 {
    width: 25%;
}
.d-block {
    display: block !important;
}
.vcard-names {
    line-height: 1;
}
.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}
.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}
.vcard-details {
    list-style: none;
}
.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%;
}
.user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #6a737d;
}
