---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/<github_login>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - W/"06c4397a16b54640d973f2cdc2312cb2"
      Last-Modified:
      - Mon, 19 Mar 2018 17:31:29 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ae50e68a2852bd760c89
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"<github_login>","id":7215067,"avatar_url":"https://avatars3.githubusercontent.com/u/7215067?v=4","gravatar_id":"","url":"https://api.github.com/users/<github_login>","html_url":"https://github.com/<github_login>","followers_url":"https://api.github.com/users/<github_login>/followers","following_url":"https://api.github.com/users/<github_login>/following{/other_user}","gists_url":"https://api.github.com/users/<github_login>/gists{/gist_id}","starred_url":"https://api.github.com/users/<github_login>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<github_login>/subscriptions","organizations_url":"https://api.github.com/users/<github_login>/orgs","repos_url":"https://api.github.com/users/<github_login>/repos","events_url":"https://api.github.com/users/<github_login>/events{/privacy}","received_events_url":"https://api.github.com/users/<github_login>/received_events","type":"User","site_admin":false,"name":"Matt
        Milton","company":"@Turingschool","blog":"","location":"Denver","email":null,"hireable":null,"bio":"Developer
        in Training\r\n","public_repos":126,"public_gists":4,"followers":5,"following":6,"created_at":"2014-04-07T20:10:48Z","updated_at":"2018-03-19T17:31:29Z"}'
  recorded_at: Thu, 22 Mar 2018 16:43:36 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/<github_login>/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - W/"64fe19985623b9cdb02e5964e6ad13d9"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ae50e68a2852bd760c89
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/7215067/repos?per_page=100&page=2>; rel="next",
        <https://api.github.com/user/7215067/repos?per_page=100&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":118519587,"name":"activerecord_exploration","full_name":"<github_login>/activerecord_exploration","owner":{"login":"<github_login>","id":7215067,"avatar_url":"https://avatars3.githubusercontent.com/u/7215067?v=4","gravatar_id":"","url":"https://api.github.com/users/<github_login>","html_url":"https://github.com/<github_login>","followers_url":"https://api.github.com/users/<github_login>/followers","following_url":"https://api.github.com/users/<github_login>/following{/other_user}","gists_url":"https://api.github.com/users/<github_login>/gists{/gist_id}","starred_url":"https://api.github.com/users/<github_login>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<github_login>/subscriptions","organizations_url":"https://api.github.com/users/<github_login>/orgs","repos_url":"https://api.github.com/users/<github_login>/repos","events_url":"https://api.github.com/users/<github_login>/events{/privacy}","received_events_url":"https://api.github.com/users/<github_login>/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/<github_login>/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/<github_login>/activerecord_exploration","forks_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/<github_login>/activerecord_exploration/deployments","created_at":"2018-01-22T21:47:41Z","updated_at":"2018-01-22T21:47:42Z","pushed_at":"2018-01-23T05:35:16Z","git_url":"git://github.com/<github_login>/activerecord_exploration.git","ssh_url":"git@github.com:<github_login>/activerecord_exploration.git","clone_url":"https://github.com/<github_login>/activerecord_exploration.git","svn_url":"https://github.com/<github_login>/activerecord_exploration","homepage":null,"size":31,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":125893259,"name":"api_curious","full_name":"<github_login>/api_curious","owner":{"login":"<github_login>","id":7215067,"avatar_url":"https://avatars3.githubusercontent.com/u/7215067?v=4","gravatar_id":"","url":"https://api.github.com/users/<github_login>","html_url":"https://github.com/<github_login>","followers_url":"https://api.github.com/users/<github_login>/followers","following_url":"https://api.github.com/users/<github_login>/following{/other_user}","gists_url":"https://api.gi[...]
- request:
    method: get
    uri: https://api.github.com/users/<github_login>/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1521738062'
      E[...]
- request:
    method: get
    uri: https://api.github.com/users/<github_login>/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1521738062'
     [...]
- request:
    method: get
    uri: https://api.github.com/users/thismax
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - W/[...]
- request:
    method: get
    uri: https://api.github.com/users/slimecog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/users/annaroyer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - [...]
- request:
    method: get
    uri: https://api.github.com/users/dylnclrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/users/amj133
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4930'
      X-Ratelimit-Reset:
      - '1521738062'
      Etag:
      - W/"[...]
[...]
