---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Hal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - W/"6cac69ff92193fefa0a70cdeecdb6145"
      Last-Modified:
      - Sun, 30 Oct 2016 23:31:18 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"hal","id":4076071,"avatar_url":"https://avatars3.githubusercontent.com/u/4076071?v=4","gravatar_id":"","url":"https://api.github.com/users/hal","html_url":"https://github.com/hal","followers_url":"https://api.github.com/users/hal/followers","following_url":"https://api.github.com/users/hal/following{/other_user}","gists_url":"https://api.github.com/users/hal/gists{/gist_id}","starred_url":"https://api.github.com/users/hal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hal/subscriptions","organizations_url":"https://api.github.com/users/hal/orgs","repos_url":"https://api.github.com/users/hal/repos","events_url":"https://api.github.com/users/hal/events{/privacy}","received_events_url":"https://api.github.com/users/hal/received_events","type":"Organization","site_admin":false,"name":"HAL
        - WildFly Admin Console","company":null,"blog":"http://hal.github.io/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":27,"public_gists":0,"followers":0,"following":0,"created_at":"2013-04-06T08:45:20Z","updated_at":"2016-10-30T23:31:18Z"}'
  recorded_at: Thu, 22 Mar 2018 16:22:34 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/Hal/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - W/"5ca4bf0a4d9069657efe6e3429d6ce12"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":38046541,"name":"archetypes","full_name":"hal/archetypes","owner":{"login":"hal","id":4076071,"avatar_url":"https://avatars3.githubusercontent.com/u/4076071?v=4","gravatar_id":"","url":"https://api.github.com/users/hal","html_url":"https://github.com/hal","followers_url":"https://api.github.com/users/hal/followers","following_url":"https://api.github.com/users/hal/following{/other_user}","gists_url":"https://api.github.com/users/hal/gists{/gist_id}","starred_url":"https://api.github.com/users/hal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hal/subscriptions","organizations_url":"https://api.github.com/users/hal/orgs","repos_url":"https://api.github.com/users/hal/repos","events_url":"https://api.github.com/users/hal/events{/privacy}","received_events_url":"https://api.github.com/users/hal/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/hal/archetypes","description":"Maven
        archetypes for HAL","fork":false,"url":"https://api.github.com/repos/hal/archetypes","forks_url":"https://api.github.com/repos/hal/archetypes/forks","keys_url":"https://api.github.com/repos/hal/archetypes/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hal/archetypes/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hal/archetypes/teams","hooks_url":"https://api.github.com/repos/hal/archetypes/hooks","issue_events_url":"https://api.github.com/repos/hal/archetypes/issues/events{/number}","events_url":"https://api.github.com/repos/hal/archetypes/events","assignees_url":"https://api.github.com/repos/hal/archetypes/assignees{/user}","branches_url":"https://api.github.com/repos/hal/archetypes/branches{/branch}","tags_url":"https://api.github.com/repos/hal/archetypes/tags","blobs_url":"https://api.github.com/repos/hal/archetypes/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hal/archetypes/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hal/archetypes/git/refs{/sha}","trees_url":"https://api.github.com/repos/hal/archetypes/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hal/archetypes/statuses/{sha}","languages_url":"https://api.github.com/repos/hal/archetypes/languages","stargazers_url":"https://api.github.com/repos/hal/archetypes/stargazers","contributors_url":"https://api.github.com/repos/hal/archetypes/contributors","subscribers_url":"https://api.github.com/repos/hal/archetypes/subscribers","subscription_url":"https://api.github.com/repos/hal/archetypes/subscription","commits_url":"https://api.github.com/repos/hal/archetypes/commits{/sha}","git_commits_url":"https://api.github.com/repos/hal/archetypes/git/commits{/sha}","comments_url":"https://api.github.com/repos/hal/archetypes/comments{/number}","issue_comment_url":"https://api.github.com/repos/hal/archetypes/issues/comments{/number}","contents_url":"https://api.github.com/repos/hal/archetypes/contents/{+path}","compare_url":"https://api.github.com/repos/hal/archetypes/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hal/archetypes/merges","archive_url":"https://api.github.com/repos/hal/archetypes/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hal/archetypes/downloads","issues_url":"https://api.github.com/repos/hal/archetypes/issues{/number}","pulls_url":"https://api.github.com/repos/hal/archetypes/pulls{/number}","milestones_url":"https://api.github.com/repos/hal/archetypes/milestones{/number}","notifications_url":"https://api.github.com/repos/hal/archetypes/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hal/archetypes/labels{/name}","releases_url":"https://api.github.com/repos/hal/archetypes/releases{/id}","deployments_url":"https://api.github.com/repos/hal/archetypes/deployments","created_at":"2015-06-25T11:54:06Z","updated_at":"2015-06-25T11:58:04Z","pushed_at":"2015-11-19T20:44:36Z","git_url":"git://github.com/hal/archetypes.git","ssh_url":"git@github.com:hal/archetypes.git","clone_url":"https://github.com/hal/archetypes.git","svn_url":"https://github.com/hal/archetypes","homepage":null,"size":15,"stargazers_count":0,"watchers_count":0,"language":"Java","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":9320723,"name":"ballroom","full_name":"hal/ballroom","owner":{"login":"hal","id":4076071,"avatar_url":"https://avatars3.githubusercontent.com/u/4076071?v=4","gravatar_id":"","url":"https://api.github.com/users/hal","html_url":"https://github.com/hal","followers_url":"https://api.github.com/users/hal/followers","following_url":"https://api.github.com/users/hal/following{/other_user}","gists_url":"https://api.github.com/users/hal/gists{/gist_id}","starred_url":"https://api.github.c[...]
- request:
    method: get
    uri: https://api.github.com/users/Hal/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Mar 2018 16:22:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/Hal/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Mar 2018 16:22:37 GMT
[...]
