---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Hal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - W/"6cac69ff92193fefa0a70cdeecdb6145"
      Last-Modified:
      - Sun, 30 Oct 2016 23:31:18 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"hal","id":4076071,"avatar_url":"https://avatars3.githubusercontent.com/u/4076071?v=4","gravatar_id":"","url":"https://api.github.com/users/hal","html_url":"https://github.com/hal","followers_url":"https://api.github.com/users/hal/followers","following_url":"https://api.github.com/users/hal/following{/other_user}","gists_url":"https://api.github.com/users/hal/gists{/gist_id}","starred_url":"https://api.github.com/users/hal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hal/subscriptions","organizations_url":"https://api.github.com/users/hal/orgs","repos_url":"https://api.github.com/users/hal/repos","events_url":"https://api.github.com/users/hal/events{/privacy}","received_events_url":"https://api.github.com/users/hal/received_events","type":"Organization","site_admin":false,"name":"HAL
        - WildFly Admin Console","company":null,"blog":"http://hal.github.io/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":27,"public_gists":0,"followers":0,"following":0,"created_at":"2013-04-06T08:45:20Z","updated_at":"2016-10-30T23:31:18Z"}'
  recorded_at: Thu, 22 Mar 2018 16:22:34 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/Hal/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - W/"5ca4bf0a4d9069657efe6e3429d6ce12"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":38046541,"name":"archetypes","full_name":"hal/archetypes","owner":{"login":"hal","id":4076071,"avatar_url":"https://avatars3.githubusercontent.com/u/4076071?v=4","gravatar_id":"","url":"https://api.github.com/users/hal","html_url":"https://github.com/hal","followers_url":"https://api.github.com/users/hal/followers","following_url":"https://api.github.com/users/hal/following{/other_user}","gists_url":"https://api.github.com/users/hal/gists{/gist_id}","starred_url":"https://api.github.com/users/hal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hal/subscriptions","organizations_url":"https://api.github.com/users/hal/orgs","repos_url":"https://api.github.com/users/hal/repos","events_url":"https://api.github.com/users/hal/events{/privacy}","received_events_url":"https://api.github.com/users/hal/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/hal/archetypes","description":"Maven
        archetypes for HAL","fork":false,"url":"https://api.github.com/repos/hal/archetypes","forks_url":"https://api.github.com/repos/hal/archetypes/forks","keys_url":"https://api.github.com/repos/hal/archetypes/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hal/archetypes/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hal/archetypes/teams","hooks_url":"https://api.github.com/repos/hal/archetypes/hooks","issue_events_url":"https://api.github.com/repos/hal/archetypes/issues/events{/number}","events_url":"https://api.github.com/repos/hal/archetypes/events","assignees_url":"https://api.github.com/repos/hal/archetypes/assignees{/user}","branches_url":"https://api.github.com/repos/hal/archetypes/branches{/branch}","tags_url":"https://api.github.com/repos/hal/archetypes/tags","blobs_url":"https://api.github.com/repos/hal/archetypes/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hal/archetypes/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hal/archetypes/git/refs{/sha}","trees_url":"https://api.github.com/repos/hal/archetypes/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hal/archetypes/statuses/{sha}","languages_url":"https://api.github.com/repos/hal/archetypes/languages","stargazers_url":"https://api.github.com/repos/hal/archetypes/stargazers","contributors_url":"https://api.github.com/repos/hal/archetypes/contributors","subscribers_url":"https://api.github.com/repos/hal/archetypes/subscribers","subscription_url":"https://api.github.com/repos/hal/archetypes/subscription","commits_url":"https://api.github.com/repos/hal/archetypes/commits{/sha}","git_commits_url":"https://api.github.com/repos/hal/archetypes/git/commits{/sha}","comments_url":"https://api.github.com/repos/hal/archetypes/comments{/number}","issue_comment_url":"https://api.github.com/repos/hal/archetypes/issues/comments{/number}","contents_url":"https://api.github.com/repos/hal/archetypes/contents/{+path}","compare_url":"https://api.github.com/repos/hal/archetypes/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hal/archetypes/merges","archive_url":"https://api.github.com/repos/hal/archetypes/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hal/archetypes/downloads","issues_url":"https://api.github.com/repos/hal/archetypes/issues{/number}","pulls_url":"https://api.github.com/repos/hal/archetypes/pulls{/number}","milestones_url":"https://api.github.com/repos/hal/archetypes/milestones{/number}","notifications_url":"https://api.github.com/repos/hal/archetypes/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hal/archetypes/labels{/name}","releases_url":"https://api.github.com/repos/hal/archetypes/releases{/id}","deployments_url":"https://api.github.com/repos/hal/archetypes/deployments","created_at":"2015-06-25T11:54:06Z","updated_at":"2015-06-25T11:58:04Z","pushed_at":"2015-11-19T20:44:36Z","git_url":"git://github.com/hal/archetypes.git","ssh_url":"git@github.com:hal/archetypes.git","clone_url":"https://github.com/hal/archetypes.git","svn_url":"https://github.com/hal/archetypes","homepage":null,"size":15,"stargazers_count":0,"watchers_count":0,"language":"Java","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":9320723,"name":"ballroom","full_name":"hal/ballroom","owner":{"login":"hal","id":4076071,"avatar_url":"https://avatars3.githubusercontent.com/u/4076071?v=4","gravatar_id":"","url":"https://api.github.com/users/hal","html_url":"https://github.com/hal","followers_url":"https://api.github.com/users/hal/followers","following_url":"https://api.github.com/users/hal/following{/other_user}","gists_url":"https://api.github.com/users/hal/gists{/gist_id}","starred_url":"https://api.github.c[...]
- request:
    method: get
    uri: https://api.github.com/users/Hal/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Mar 2018 16:22:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/Hal/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - tokenpizza
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1521738098'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Mar 2018 16:22:37 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author-date:%3E2018-03-08%20author:Hal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token pizza
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.cloak-preview; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1521740531'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 22 Mar 2018 17:41:11 GMT
- request:
    method: get
    uri: https://api.github.com/users/Hal/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4681'
      X-Ratelimit-Reset:
      - '1521742414'
      Etag:
      - W/"064c874cec6f0d16d093213c43a790d4"
      Last-Modified:
      - Thu, 22 Mar 2018 17:21:21 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ae50e68a2852bd760c89
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4076071/events?page=2>; rel="next", <https://api.github.com/user/4076071/events?page=9>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7420708599","type":"PushEvent","actor":{"id":100611,"login":"hpehl","display_login":"hpehl","gravatar_id":"","url":"https://api.github.com/users/hpehl","avatar_url":"https://avatars.githubusercontent.com/u/100611?"},"repo":{"id":123287665,"name":"hal/site","url":"https://api.github.com/repos/hal/site"},"payload":{"push_id":2424988847,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"a2717bd6770f2a9a963e6dca130a9dc7aecd3a4c","before":"1bee58c5e9b4349160fe1dc6260a498194e7ae5a","commits":[{"sha":"a2717bd6770f2a9a963e6dca130a9dc7aecd3a4c","author":{"email":"harald.pehl@gmail.com","name":"Harald
        Pehl"},"message":"Fixed toc","distinct":true,"url":"https://api.github.com/repos/hal/site/commits/a2717bd6770f2a9a963e6dca130a9dc7aecd3a4c"}]},"public":true,"created_at":"2018-03-22T17:21:21Z","org":{"id":4076071,"login":"hal","gravatar_id":"","url":"https://api.github.com/orgs/hal","avatar_url":"https://avatars.githubusercontent.com/u/4076071?"}},{"id":"7418681783","type":"ReleaseEvent","actor":{"id":100611,"login":"hpehl","display_login":"hpehl","gravatar_id":"","url":"https://api.github.com/users/hpehl","avatar_url":"https://avatars.githubusercontent.com/u/100611?"},"repo":{"id":39412278,"name":"hal/elemento","url":"https://api.github.com/repos/hal/elemento"},"payload":{"action":"published","release":{"url":"https://api.github.com/repos/hal/elemento/releases/10208672","assets_url":"https://api.github.com/repos/hal/elemento/releases/10208672/assets","upload_url":"https://uploads.github.com/repos/hal/elemento/releases/10208672/assets{?name,label}","html_url":"https://github.com/hal/elemento/releases/tag/0.8.0","id":10208672,"tag_name":"0.8.0","target_commitish":"develop","name":"","draft":false,"author":{"login":"hpehl","id":100611,"avatar_url":"https://avatars2.githubusercontent.com/u/100611?v=4","gravatar_id":"","url":"https://api.github.com/users/hpehl","html_url":"https://github.com/hpehl","followers_url":"https://api.github.com/users/hpehl/followers","following_url":"https://api.github.com/users/hpehl/following{/other_user}","gists_url":"https://api.github.com/users/hpehl/gists{/gist_id}","starred_url":"https://api.github.com/users/hpehl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hpehl/subscriptions","organizations_url":"https://api.github.com/users/hpehl/orgs","repos_url":"https://api.github.com/users/hpehl/repos","events_url":"https://api.github.com/users/hpehl/events{/privacy}","received_events_url":"https://api.github.com/users/hpehl/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-03-22T11:39:46Z","published_at":"2018-03-22T11:45:48Z","assets":[],"tarball_url":"https://api.github.com/repos/hal/elemento/tarball/0.8.0","zipball_url":"https://api.github.com/repos/hal/elemento/zipball/0.8.0","body":"###
        Prepare Elemento for J2CL / GWT3\r\n\r\n- Elemento (core & template) no longer
        depends on `gwt-user`\r\n- Replace safe HTML implementation with https://github.com/Vertispan/gwt-safehtml/\r\n-
        Move widget related code to new maven module `elemento-widget`\r\n"}},"public":true,"created_at":"2018-03-22T11:45:48Z","org":{"id":4076071,"login":"hal","gravatar_id":"","url":"https://api.github.com/orgs/hal","avatar_url":"https://avatars.githubusercontent.com/u/4076071?"}},{"id":"7418656970","type":"CreateEvent","actor":{"id":100611,"login":"hpehl","display_login":"hpehl","gravatar_id":"","url":"https://api.github.com/users/hpehl","avatar_url":"https://avatars.githubusercontent.com/u/100611?"},"repo":{"id":39412278,"name":"hal/elemento","url":"https://api.github.com/repos/hal/elemento"},"payload":{"ref":"0.8.0","ref_type":"tag","master_branch":"develop","description":"Type
        safe builders, HTML templates and other goodies for GWT Elemental2","pusher_type":"user"},"public":true,"created_at":"2018-03-22T11:40:30Z","org":{"id":4076071,"login":"hal","gravatar_id":"","url":"https://api.github.com/orgs/hal","avatar_url":"https://avatars.githubusercontent.com/u/4076071?"}},{"id":"7418656725","type":"PushEvent","actor":{"id":100611,"login":"hpehl","display_login":"hpehl","gravatar_id":"","url":"https://api.github.com/users/hpehl","avatar_url":"https://avatars.githubusercontent.com/u/100611?"},"repo":{"id":39412278,"name":"hal/elemento","url":"https://api[...]
- request:
    method: get
    uri: https://api.github.com/users/Hal/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4855'
      X-Ratelimit-Reset:
      - '1521746278'
      Etag:
      - '"ab2cdecbd2bef9963e65cd20d3178752"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ae50e68a2852bd760c89
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Mar 2018 18:20:44 GMT
recorded_with: VCR 4.0.0
